<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <div class="container">
    <div class="main-container ">
      <div class="main-signup"></div>
    </div>
    <form class="login-container" action="/admin/login" method="POST">
      <div class="signup-frame">
        <div class="upper-login">
          <div class="left-return">
            <a href="/admin">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                />
              </svg>
            </a>
            <a href="/admin"> Return Home</a>
          </div>
          <div class="right-login">
            <a href="/admin/signup" class="left-side">Not a member yet?</a>
            <a href="/admin/signup" class="right-side">JOIN NOW</a>
          </div>
        </div>
        <div class="main-middle">
          <div class="middle-introduce">welcome back exclusive member</div>
          <div class="middle-continue">log in to continue</div>
          <div class="login-input-frame">
            <div class="login-input-container">
              <input
                type="text"
                name="memberNick"
                class="member-nick"
                placeholder="Username"
                value=""
                required
              />
            </div>
            <div class="login-input-container">
              <input
                type="password"
                name="memberPassword"
                class="member-password"
                placeholder="Password"
                value=""
                required
              />
            </div>
          </div>
          <button class="login-btn btn" name="login" type="submit">
            Login
          </button>
        </div>
        <input name="memberType" value="RESTAURANT" hidden />
      </div>
    </form>
  </div>
</body>

<%- include('includes/footer') %>
